.ripcrypt--AmmoTracker.ripcrypt--AmmoTracker.ripcrypt--AmmoTracker {
	color: var(--popover-text);
	background: var(--popover-background);
	padding: 4px;

	--row-gap: 4px;
	--button-text: var(--header-text);
	--button-background: var(--header-background);

	ul {
		display: flex;
		flex-direction: column;
		row-gap: var(--row-gap);

		> li {
			padding: 4px 8px;
			border-radius: 999px;

			&:nth-child(even) {
				color: var(--popover-alt-row-text);
				background: var(--popover-alt-row-background);
				--input-text: var(--popover-text);
				--input-background: var(--popover-background);
				--button-text: unset;
				--button-background: unset;
			}
		}
	}

	.ammo {
		display: grid;
		grid-template-columns: 130px 50px min-content;
		grid-template-rows: min-content;
		align-items: center;
		gap: 8px;

		.name {
			flex-grow: 1;
			justify-self: left;
		}
	}

	input {
		text-align: center;
		border-radius: 999px;
	}
}
