<div id="the-hourglass">
	<div
		class="icon-container"
		data-tooltip="RipCrypt.tooltips.current-tour"
	>
		<span class="sands-value">
			{{sandsOfFate}}
		</span>
		<rc-svg
			aria-hidden="true"
			class="hourglass"
			name="icons/hourglass"
			var:fill="var(--accent-2)"
		></rc-svg>
	</div>
</div>
