@import url("./crafts.css");

.ripcrypt.ripcrypt--CombinedHeroSheet {
	> .window-content {
		gap: 4px;
		background: var(--base-background);
		overflow-y: auto;
	}

	.HeroSkillsCardV1 {
		--col-gap: 2px;
	}
}
