.ripcrypt .AllItemSheetV1 {
	--input-height: 1rem;
	--input-underline: none;
	--col-gap: 8px;
	--row-gap: 8px;

	--string-tags-tag-text: var(--header-text);
	--string-tags-tag-background: var(--header-background);
	--string-tags-add-text: white;
	--string-tags-add-background: var(--accent-1);
	--string-tags-input-text: white;
	--string-tags-input-background: var(--accent-2);

	--input-text: white;
	--input-background: var(--accent-2);
	--button-text: white;
	--button-background: var(--accent-2);

	--pill-width: 100%;
	--pill-border-radius: 4px;

	display: grid;
	grid-template-columns: auto 200px;
	column-gap: var(--col-gap);
	row-gap: var(--row-gap);
	max-width: 350px;

	padding: 8px;
	background: var(--base-background);
	color: var(--base-text);

	[data-input-type] {
		display: contents;
	}

	> [data-input-type="group"] {
		display: unset;
		grid-column: 1 / -1;

		> .content {
			display: grid;
			grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
			column-gap: var(--col-gap);
			row-gap: var(--row-gap);
		}
	}

	> [data-input-type="prose-mirror"] {
		grid-column: 1 / -1;
		display: flex;
		flex-direction: column;
		gap: var(--row-gap);

		> .label-row {
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: space-between;
		}

		.value {
			background: var(--input-background);
			color: var(--input-text);

			> :first-child {
				margin-top: 0;
			}
			> :last-child {
				margin-bottom: 0;
			}

			&:empty {
				display: none;
			}
		}
	}

	hr {
		background: var(--accent-1);
		grid-column: 1 / -1;
		height: 1px;
		width: 90%;
		margin: 0 auto;
	}

	hr:has(+ [data-input-type="group"]),
	[data-input-type="group"] + hr {
		display: none;
	};

	label, .label {
		display: flex;
		align-items: center;
		box-sizing: border-box;

		padding: 2px 4px;
		text-transform: uppercase;
		font-size: var(--font-size-14);
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: bold;
	}

	button, input, select, .value, [data-tag-count] {
		border-radius: 4px;
		padding: 2px 4px;
	}
	.value, [data-tag-count="0"] {
		border: 2px solid var(--accent-2);
	}
	[data-tag-count="0"] {
		justify-content: start;
	}

	[data-input-type="boolean"] > .checkbox-container {
		display: flex;
		justify-content: right;
	}
}
