:host {
	display: inline-block;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

svg {
	fill: var(--fill);
	stroke: var(--stroke);
}

path {
	stroke: var(--stroke);
	stroke-width: var(--stroke-width);
	stroke-linejoin: var(--stroke-linejoin);
}
