.ripcrypt.ripcrypt--DicePool {
	> .window-content {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-template-rows: auto min-content;
		background: var(--base-background);
		padding: 8px;
		gap: 8px;
		width: 250px;
	}

	--button-background: var(--alt-row-background);
	--button-text: var(--alt-row-text);
	button {
		border-radius: 2px;
		font-weight: bold;
		padding: 4px 8px;
		width: max-content;
	}

	.d8-incrementer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;

		button {
			width: max-content;
		}
	}

	.dice-count-row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		gap: 4px;
		font-size: 1.5rem;
	}

	.dredge-row {
		display: flex;
		gap: 8px;
		align-items: center;
	}

	.dice-target {
		display: flex;
		position: relative;

		.value {
			position: absolute;
			inset: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.5rem;
			color: white;
			font-weight: normal;
		}
	}

	.button-row {
		--button-background: var(--header-background);
		--button-text: var(--header-text);

		display: flex;
		justify-content: center;
		align-items: center;
		grid-column: 1 / -1;
	}
}
