<div id="delve-difficulty">
	<div
		class="icon-container"
		data-tooltip="RipCrypt.common.difficulty"
	>
		<span class="large">{{dc}}</span>
		<rc-icon
			class="hourglass"
			name="icons/d8-outline"
			var:size="34px"
			var:fill="var(--accent-2)"
		></rc-icon>
	</div>
</div>
