.ripcrypt:where(.popover.frameless, .hud) button,
.ripcrypt > .window-content button {
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border: none;
	padding: 2px 4px;
	font-family: inherit;
	font-size: inherit;
	background: var(--button-background);
	color: var(--button-text);

	&:hover:not(:disabled) {
		cursor: pointer;
		outline: none;
	}

	&:disabled {
		opacity: 0.6;
	}

	&.icon {
		padding: 0;
		border-radius: 50%;
		outline: none;
		border: none;
		width: 20px;
		height: 20px;
	}

	&.transparent {
		background: inherit;
		color: inherit;
		padding: 0;
	}
}
