.ripcrypt.popover.frameless table,
.ripcrypt.hud table,
.ripcrypt > .window-content table {
	box-sizing: border-box;
	border-collapse: collapse;

	td, th {
		padding: 2px 4px;
		font-weight: initial;
		text-align: left;
	}
}
