@import url("./AllItemSheetV1/style.css");
@import url("./CombinedHeroSheet/style.css");
@import url("./DelveDiceHUD/style.css");
@import url("./DicePool/style.css");
@import url("./CraftCardV1/style.css");
@import url("./StatsCardV1/style.css");
@import url("./SkillsCardV1/style.css");
@import url("./RichEditor/style.css");
@import url("./ArmourSheet/style.css");

@import url("./popover.css");
@import url("./popovers/AmmoTracker/style.css");

.ripcrypt {
	.window-content {
		flex: initial;
		padding: 0;
		margin: 0;
	}

	.StatsCardV1,
	.SkillsCardV1,
	.CraftCardV1 {
		padding: 8px;
		/* height: 270px; */
		width: 680px;
		--col-gap: 2px;
		--row-gap: 4px;
	}
}
